TELEGRAM_BOT_TOKEN=8379991329:AAHno3wRNPZBAxkvqeU6LOEhh3SDW999Uz8
WEBHOOK_URL=https://your-render-service-name.onrender.com
SUPABASE_URL=https://suoiqiuzvwfrsecnmyqq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1b2lxaXV6dndmcnNlY25teXFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MDUyMDcsImV4cCI6MjA5MDE4MTIwN30.v_J60TS7GVilMT9u-f6jZ6aix1sK9Dh3ngopQYlsC1w
PORT=10000
